# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# git.properties
src/main/resources/git.properties

# etc
data/
/.apt_generated
.factorypath
.vertx/
file-uploads/